<div class=""><div class="aHl"></div>
    <div id=":ra" tabindex="-1"></div>
    <div id=":rl" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":rm" class="a3s aiL msg474473207292307187">
            <div class="m_474473207292307187body" style="margin-top:0;padding:0;margin:0;background-color:rgb(234,234,234)"> 
                <div class="m_474473207292307187hide" style="display:none;width:0;height:0;max-height:0;line-height:0;overflow:hidden">
                    Reset your <span class="il">password</span>  
                </div>  
                <table class="m_474473207292307187container-table m_474473207292307187-important" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;background-color:rgb(234,234,234)"> 
                    <tbody>
                        <tr> 
                            <td class="m_474473207292307187container" align="center" style="margin-top:0;background-color:rgb(234,234,234)"> 
                                <table class="m_474473207292307187content-shell-table" width="500" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;background-color:rgb(255,255,255)"> 
                                    <tbody>
                                        <tr> 
                                            <td class="m_474473207292307187content-shell" align="center">                                                 
                                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-copy m_474473207292307187content-padding m_474473207292307187gem-h1" align="left" style="padding-top:20px;color:#221f1f;font-family:GraffLibSans-Bold,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:700;padding-left:40px;padding-right:40px;font-size:36px;line-height:42px;letter-spacing:-1px"> 
                                                                Reset your <span class="il">password</span> 
                                                            </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table>

                                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-copy m_474473207292307187content-padding m_474473207292307187gem-p" align="left" style="padding-top:20px;color:#221f1f;padding-left:40px;padding-right:40px;font-family:GraffLibSans-Light,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:300;font-size:16px;line-height:21px;font-size:16px;line-height:21px"> 
                                                                Hi {email}, 
                                                            </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table> 

                                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-copy m_474473207292307187content-padding m_474473207292307187gem-p" align="left" style="padding-top:20px;color:#221f1f;padding-left:40px;padding-right:40px;font-family:GraffLibSans-Light,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:300;font-size:16px;line-height:21px;font-size:16px;line-height:21px"> 
                                                                Let's reset your <span class="il">password</span> so you can get back to graffitis. 
                                                            </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table>
                                                
                                                <table class="m_474473207292307187gem-single-button-shell m_474473207292307187button-mobile-flex" width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-single-button m_474473207292307187content-padding" style="padding-top:20px;padding-left:40px;padding-right:40px" align="center"> 
                                                                <table class="m_474473207292307187gem-single-button m_474473207292307187button-1-table" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%"> 
                                                                    <tbody>
                                                                        <tr> 
                                                                            <td class="m_474473207292307187gem-single-button m_474473207292307187button-1-text m_474473207292307187gem-h5 m_474473207292307187button-text-light" style="background-color:#e50914;border:solid 1px #e50914;font-family:GraffLibSans-Bold,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:700;color:rgb(255,255,255);border-radius:4px;text-decoration:none;text-align:center;padding:13px 0 13px 0;width:100%;font-size:14px;line-height:17px;letter-spacing:-0.2px"> 
                                                                                <a class="m_474473207292307187gem-single-button m_474473207292307187button-text-light m_474473207292307187gem-h5" href="{password-reset-link}" style="text-decoration:none;display:block;padding-left:20px;padding-right:20px;font-family:GraffLibSans-Bold,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:700;color:inherit;color:rgb(255,255,255);font-size:14px;line-height:17px;letter-spacing:-0.2px" target="_blank" data-saferedirecturl="https://www.google.com/url?q={password-reset-link}">
                                                                                    Reset <span class="il">Password</span>
                                                                                </a> 
                                                                            </td> 
                                                                        </tr> 
                                                                    </tbody>
                                                                </table> 
                                                            </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table> 

                                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-copy m_474473207292307187content-padding m_474473207292307187gem-p" align="left" style="padding-top:20px;color:#221f1f;padding-left:40px;padding-right:40px;font-family:GraffLibSans-Light,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:300;font-size:16px;line-height:21px;font-size:16px;line-height:21px">
                                                                In case you didn't initialize any <span class="il">password</span> reset, you can simply ignore this email and keep using the application normally with your current <span class="il">password</span>.


                                                            </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table>
                                                
                                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187gem-copy m_474473207292307187content-padding m_474473207292307187gem-h5" align="left" style="padding-top:20px;color:#221f1f;font-family:GraffLibSans-Bold,Helvetica,Roboto,Segoe UI,sans-serif;font-weight:700;padding-left:40px;padding-right:40px;font-size:14px;line-height:17px;letter-spacing:-0.2px"> 
                                                            The GraffLib team </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table> 
           
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                            <td class="m_474473207292307187spacer" style="padding:25px 0 0 0;font-size:0;line-height:0"> &nbsp; </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table> 
           
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                    <tbody>
                                                        <tr> 
                                                        <td class="m_474473207292307187content-padding" style="padding-top:0;padding-left:40px;padding-right:40px"> 
                                                            <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0"> 
                                                                <tbody>
                                                                    <tr> 
                                                                        <td class="m_474473207292307187empty" style="font-size:0;line-height:0"> &nbsp; </td> 
                                                                    </tr> 
                                                                </tbody>
                                                            </table> 
                                                        </td> 
                                                        </tr> 
                                                    </tbody>
                                                </table>

                                                <table cellpadding="0" cellspacing="0" border="0" style="border-spacing:0">
                                                    
                                                </table>
                                            </td> 
                                        </tr> 
                                    </tbody>
                                </table> 
                            </td> 
                        </tr> 
                    </tbody>
                </table>
                <div class="yj6qo"></div>
            </div>
        </div>
    </div>
    <div id=":r6" class="ii gt" style="display:none">
        <div id=":r5" class="a3s aiL "></div>
    </div>
    <div class="hi"></div>
</div>