astroid==2.8.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
flask-swagger-ui==3.36.0
importlib-metadata==4.8.1
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
Linq==0.3.1
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
mccabe==0.6.1
pip==20.1.1
platformdirs==2.4.0
pylint==2.11.1
scipy==1.4.1
setuptools==47.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
